<div class="container mt-5">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (submit)="login()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>