<table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Result</th>
        <th>Winning Cards</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let score of previousScores; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ score.playedAt | date:'short' }}</td>
        <td>{{ score.result }}</td>
        <td>
            <div class="row card-row">
                <div class="col card-col" *ngFor="let card of score.winningCards">
                  <img src="{{ card.image }}" alt="{{ card.code }}" class="card-image">
                </div>
            </div>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteResult(score._id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
